#!/bin/sh

# key repeat and delay
xset r rate 200 60

# Actual monitor DPI at home is something different but I don't like large
# fonts and UI elements. I don't want scaling
xrandr --dpi 96

# Screensaver timeout
xset s 300

# caps to esc
setxkbmap -option ctrl:nocaps -layout us -variant altgr-intl

# Change cursor shape from default X
xsetroot -cursor_name left_ptr

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
